@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 1500px){

  .main-body {
    padding: 3% 5%;
  }
  .main-heading {
    padding: 3% 5%;
  }
  .react-reveal{
    margin-bottom: 0;
  }
  .left{
    padding-right: 7%;
  }
  .left p{
    font-size: 1.2rem;
  }
  .left h2{
    font-size: 300%;
  }
}

@media screen and (max-width:768px) {
  .main-card{
    flex-direction: column;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  
}

@media screen and (max-width:756px) {
  .main-body{
    padding: 2%;
  }
  .right p{
    visibility: visible;
    padding: 5% 3%;
    margin-bottom: 0;
  }  
  .right div{
    visibility: visible;
    padding: 0;
  }  

  .right .icon{
    visibility: visible;
  }
  
  .right a{
    /* padding: 5% 3%; */
    visibility: visible;
  }  


  .left p{
    visibility:hidden;
    height: 0;
    padding: 0;
  }  
  .left div{
    visibility: hidden;
    padding: 0;
    height: 0;
  }  
  .left h2{
    padding: 7% 0%;
  }
  
}
